﻿<div class="jumbotron">
    <h1>Simple Security</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <b>Hashed Password : @ViewBag.HashedPassword</b>
        <hr />
        <b>@ViewBag.CheckPassword</b>
    </div>
</div>
